body{font-family: Montserrat;
    margin:0px;
    text-align: center;}
h1{font-size:45px;padding-bottom: 100px;color:#76BA99;}

p{font-size: 30px;color:#876445;}







.observo{font-size:60px;color:#76ba99;}
.top{background-color:#EDDFB3;
    padding-top: 100px;}
.detective{width:20%;}
